[submodule "capsules/capsule"]
	path = capsules/capsule
	url = https://github.com/novavision-ai/package.git

[submodule "components/EnvironmentSecretsStore"]
	path = components/EnvironmentSecretsStore
	url = https://github.com/zozoselim/environment-secrets-store-package-test.git
	branch = main

[submodule "sdks/novavision"]
	path = sdks/novavision
	url = https://github.com/novavision-ai/sdk.git